pipeline/filter.json
{
	"name": "filter",
	"properties": {
		"activities": [
			{
				"name": "FilterTest",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.ArrayOfValues",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(item(),4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterTest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterTest').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pipeline1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ArrayOfValues": {
				"type": "array",
				"defaultValue": [
					1,
					2,
					3,
					4,
					5,
					6,
					7,
					8
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-03-03T11:32:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}