pipeline/GetMetaData.json
{
	"name": "GetMetaData",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Name",
						"value": "@item"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "input",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nformatDateTime(utcnow(),'yyyy-mm-dd'),\nformatDateTime(activity('Get Metadata1').output.lastModfied,'yyyy-mm-dd')\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "filter",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "filter",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "ForEachLoopTest",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ForEachLoopTest",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-03-05T07:13:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}